@import "../variables.scss";
@import "../mixins.scss";

$breakpoint: map-get($screenWidth, minDesktop);

.container-primary {
    min-height: 100vh;
}

.profile-image {
    width: 3rem;
    height: 3rem;
    border-radius: 0.4rem;
}

.profile-image-lg {
    width: 6rem;
    height: 6rem;
    border-radius: 0.4rem;
}

.ephemeral {
    @include hide-at-breakpoint($breakpoint);
}

.hidden {
    display: none;
}

.container-attachment {
    position: relative;
}

.attach-bottom {
    position: absolute;
    bottom: 0;
}
