@import "../variables.scss";
@import "../mixins.scss";

.border-rounded-sm {
  border-radius: map-get($map: $border, $key: small);
}

.border-rounded-md {
  border-radius: map-get($map: $border, $key: medium);
}

.border-color-primary {
  border-color: map-get($map: $themeColor, $key: primary);
}
