@import "./variables.scss";
@import "./mixins.scss";

.container-main {
  @include flex();
  height: 100vh;
}

.container-secondary {
  @include flex();
  @include width(map-get($screenWidth, minDesktop));
  max-width: map-get($map: $screenWidth, $key: maxTablet);
  border-radius: 0.5rem;
  margin: 1rem;
}

.flex-column {
  @include flex-column();
}

.ephemeral {
  @include hide-at-breakpoint(map-get($screenWidth, minDesktop));
}

.full-width {
  width: 100%;
}
