@import "./variables.scss";
@import "./mixins.scss";

.container-main {
  @include flex();
  height: 100vh;
}

.container-secondary {
  @include flex();
  @include width(map-get($screenWidth, minDesktop));
  max-width: map-get($map: $screenWidth, $key: maxTablet);
  border-radius: 0.5rem;
  margin: 1rem;
}

.flex-column {
  @include flex-column();
}

.ephemeral {
  @include hide-at-breakpoint(map-get($screenWidth, minDesktop));
}

.full-width {
  width: 100%;
}

.width-50 {
  @include set-width(50%, 100%, map-get($screenWidth, minDesktop));
}

.width-60 {
  @include set-width(60%, 100%, map-get($screenWidth, minDesktop));
}

.width-70 {
  @include set-width(70%, 100%, map-get($screenWidth, minDesktop));
}

.width-100 {
  width: 100%;
}

.margin-top {
  margin-top: 1rem;
}
