// .sidenav-container {
//   height: 100%;
// }

.sidenav {
  width: 5rem;
  background-color: blue;
}

// .sidenav .mat-toolbar {
//   background: inherit;
// }

// .mat-toolbar.mat-primary {
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }

.nav-link {
  display: flex;
  justify-content: center;
  width: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
