@import "app/shared/styles/layout.scss";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
