@import "app/shared/styles/variables.scss";
@import "app/shared/styles/environments.scss";
@import "app/shared/styles/navigation.scss";
@import "app/shared/styles/forms.scss";
@import "app/shared/styles/buttons.scss";

@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
